/* .card {
  border: solid 2px !important;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1 !important;
  margin-top: 2rem;
} */

body {
  background-color: #dad7db;
}

.ui.secondary.pointing.menu {
  margin-bottom: 0px;
}

#profile-list {
  margin-top: 2em;
  margin-bottom: 2em;
}

.custom-shape-divider-top-1600726572 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #1f5370;
}

.custom-shape-divider-top-1600726572 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 800px;
}

.custom-shape-divider-top-1600726572 .shape-fill {
    fill: #99EDFF;
}

.django {
  height: 49px;
  width: 50px;
}

.svg-text {
  position: absolute;
  z-index: 10;
  top:50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ui.statistics .statistic>.value .icon {
  color: #A978DB;
  font-size: 1em !important;
  background: -webkit-linear-gradient(#99EDFF,#1f5370);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-brain {
  color: #A978DB;
  font-size: .75em !important;
  background: -webkit-linear-gradient(#99EDFF,#1f5370);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui.statistics {
  justify-content: center;
  position: relative;
}



.bar {
  width: 70%;
}

.ui.progress .bar {
  background-color: #A978DB;
}

#jumbo-header {
  font-size: 3em;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #78848a;
}

#jumbo-subheader {
  color: #fff;
  transform: translate(15%, 15%);
}

#jumbo-button {
  font-size: 1.5rem;
  margin-left: 25%;
  transform: translate(25%, 25%);
}

#about-me-header {
  color: #1f5370;
}
#skills-header {
  color: #1f5370;
}

.ui.tabular.menu .item {
  background-color: #1f5370;
}

.ui.tabular.menu .item {
  background-color: #1f5370;
}

.ui.tabular.menu .item:hover {
  background-color: #99EDFF;
}

.tab-header {
  color: #fff;
}

.tab-header:hover {
  color: #1f5370;
}

.active .tab-header {
  color: #1f5370;
}

.ui.secondary.pointing.menu {
  background-color: #fff;
}

.ui.special.cards {
  margin-left: 0px;
}

.ui.icon.header .icon {
  color: #1f5370;
  font-size: 7rem;
}


#projects {
  margin-top: 5%;
  margin-bottom: 10%;
}

#project-row {
  margin-left: 5%;
}

#about-me {
  margin-bottom: 10%;
}

#resume {
  margin-bottom: 5%;
}


.custom-shape-divider-bottom-1600761940 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1600761940 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1600761940 .shape-fill {
    fill: #1f5370;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1600761940 svg {
        width: calc(100% + 1.3px);
        height: 52px;
    }
}

.footer {
  background-color: #1f5370;
  height:100px;
  color: #fff;
}

#skill-bars {
  background-color: #dad7db;
  border: 0px;
  justify-content: center;
}

#about-me-grid {
  background-color: #fff;
  margin-left: 10%;
  margin-right:10%;
}

#resume-column {
  padding-right: 10%;
  padding-left: 10%;
}
