html, body {
  height: 100%;
}

body {
  background-color: #353535 !important;
  color: #C6C6C6;
}
#info-container {
  background-color: #0F0F0F !important;
  border: 1px solid;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;
  text-align: center;
  padding: 2rem;
}

#name {
  color: #fff !important;
  /* text-align: center; */
  margin-left: 50px;
  margin-right: 20px;
  /* background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}





#content {
  background-color: #4C4C4C !important;
  height: 100%;
  width:100%;
}

#profile {
  border-radius: 50%;
  border: 2px solid;
  border-color: #99EDFF;
  max-width: 100%;
  height: 200px;
}

/* .fa-linkedin {

  color: #C6C6C6;
  margin: 2rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github {

  color: #C6C6C6;
  margin: 2rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.fa-python {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-html5 {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-cubes {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fa-chart-line {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-css3-alt {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  margin-left: 0px;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-database {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-js-square {
  font-size:2em;
  color: #C6C6C6;
  margin: 1rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .fas {
  color: #C6C6C6;
  margin-right: 2rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.far {
  color: #C6C6C6;
  margin-right: 2rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

#about-me {
  font-size: 1em;
  padding-bottom: 2rem;
  color: #C6C6C6;
  border-bottom: solid 2px;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
}

#about-me-jumbo {
  color: #C6C6C6 !important;
  background-image: url('/static/images/table_mountain.jpg');
  background-position: 50% 50%;
  background-color: transparent, .3;
  border: solid 2px;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;

}

.seperator {
  margin-top: 20px;

}

#name {
  margin: auto;
  padding-bottom: 1em;
}

#content-h1 {
  border-left: solid 10px;
  border-bottom: solid 1px;
  padding-left: 1rem;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;
  color: #fff !important;
  background-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;
}

.card {
  background-color: transparent;
  color: #C6C6C6 !important;
  background-color: transparent;
  border: solid 2px;
  border-image: linear-gradient(45deg, #A978DB, #99EDFF) 1;
}

.card-header {
  padding: 0px;
  color: #fff;
}

.card-body {
  color: #C6C6C6 !important;
}

.card-img {
  height:200px;
}

.project {
  color: #fff !important;
  margin-bottom: 3rem;
}

#jumbo-h1 {
  color: #fff !important;
}

.about-list {
  color: #C6C6C6;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left:-2rem;
  background: -webkit-linear-gradient(#A978DB, #99EDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
        display:table;
        font-size: 20px;
}
